<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FSharp.Core" version="4.2.3" targetFramework="net46" />
  <package id="HtmlAgilityPack" version="1.5.2" targetFramework="net46" />
  <package id="Owin" version="1.0" targetFramework="net40" />
  <package id="Suave" version="2.2.1" targetFramework="net46" />
  <package id="System.ValueTuple" version="4.4.0" targetFramework="net46" />
  <package id="WebSharper" version="4.0.194.126" targetFramework="net46" />
  <package id="WebSharper.FSharp" version="4.0.194.126" targetFramework="net46" />
</packages>